# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Maven target directory
target/

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/
.vscode/
# Gradle files
.gradle/
build/

# Operating System files
.DS_Store
Thumbs.db
